<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="http://" />
    <add key="Timeout" value="3000" />
    <add key="Username" value="user" />
    <add key="Password" value="passwd" />
    <add key="DatabaseToExecution" value="ConnectionString" />
    <add key="SqlFilesPath" value="filePath" />
    <add key="DataBaseTimeout" value="DBtimeout" />
    </appSettings>
</configuration>